*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    overflow:auto;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    padding:0 100px 0;
}
.top-section{
    width:100%;
    height:13vh;
    background-color: black;
    margin-bottom:80px;
}
.top-section .heading{
    color:white;
    height:15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-section .heading p{
    font-size:3rem;
}

.middle-section{
    display:flex;
    height:60vh;
    align-items: center;
    justify-content: center;
   
}
.jocks-heading{
    width:70%;
    height:65vh;
    text-align: center;
    border:1px solid black;
    background-color: #95a5a6;
    border-radius: 15px;
    box-shadow: 0 0 15px blue;
}
.jocks-heading .main-heading{
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
    font-size:2.5rem ;
}
.jocks-heading .jocks{
    height:40vh;
    margin:20px 30px 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    font-size:1.8rem;
}

.jocks-heading .btn{
        margin:15px 0 0 0;
}
.btn button{
    padding:10px 30px;
    text-transform: capitalize;
    font-size: 1rem;
    cursor: pointer;
    background-color:lightgreen;
    border:none;
    transition:.5s;
}
.btn button:hover{
    transform: scale(1.3, 1.2);
}

.footer-section{
    margin-top:50px;
    background-color:#000;
    color:white;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}